// Titles
@mixin title-80 {
  line-height: 1;
  @include fluid-font-size(46px, 62px);
  font-weight: font-weight(normal);
}

// Body
@mixin body-10 {
  line-height: 1.4;
  font-size: 16px;
  font-weight: font-weight(normal);
  letter-spacing: 0;
}
