$pathFont: "../assets/font";

// Fonts
//$baseFont: "suisseIntl", Arial, sans-serif;
//$fontFoundersGrotesk: "founders-grotesk-x-condensed", Arial, sans-serif;

$baseFontSize: 10;

// Z Index
$zLayout: page, site-header, preloader, draft-mode-banner;

// Sizes
$minimumFluidTypeViewportWidth: 375px;
$minimumTabletFluidTypeViewportWidth: 768px;
$maximumFluidTypeViewportWidth: 1440px;
$maxContentWidth: 2560px;

@import "../../data/shared-variable/shared-variables.json";

// Colors
$colorBlack: #000000;
$colorWhite: #ffffff;

$colorError: #d21c1c;

$gradient:
  hsl(0, 0%, 0%) 0%,
  hsla(0, 0%, 0%, 0.987) 8.1%,
  hsla(0, 0%, 0%, 0.951) 15.5%,
  hsla(0, 0%, 0%, 0.896) 22.5%,
  hsla(0, 0%, 0%, 0.825) 29%,
  hsla(0, 0%, 0%, 0.741) 35.3%,
  hsla(0, 0%, 0%, 0.648) 41.2%,
  hsla(0, 0%, 0%, 0.55) 47.1%,
  hsla(0, 0%, 0%, 0.45) 52.9%,
  hsla(0, 0%, 0%, 0.352) 58.8%,
  hsla(0, 0%, 0%, 0.259) 64.7%,
  hsla(0, 0%, 0%, 0.175) 71%,
  hsla(0, 0%, 0%, 0.104) 77.5%,
  hsla(0, 0%, 0%, 0.049) 84.5%,
  hsla(0, 0%, 0%, 0.013) 91.9%,
  hsla(0, 0%, 0%, 0) 100%;

$easeExpoOut: cubic-bezier(0.16, 1, 0.3, 1);
